// ==============================================
// Variables
// ==============================================

// Colours
// Inspired by Solarized Dark because it's pretty \(*_*)/

$light-grey: #eee;
$light-grey-blue: #93a1a1;
$dark-grey-blue: #576d75;
$dark-blue: #002b36;
$bright-blue: #248bd2;
$green: #859900;
$pink: #d33582;
$orange: #cb4b17;
$teal: #2aa198;

// Typography

$base-font-size: 18px;
$s-font-size: 12px;
$l-font-size: 24px;
$xl-font-size: 36px;

// ==============================================
// Globals
// ==============================================

@import "global/resets";
@import "global/structure";
@import "global/typography";
@import "global/animation";

// ==============================================
// Modules
// ==============================================

@import "modules/panels";
@import "modules/header";
@import "modules/footer";
@import "modules/posts-list";
@import "modules/post";