{{!-- About Snippet on index.hbs --}}

I'm a friendly front end developer.<br>
I like making things with JavaScript.<br>
You can follow me on <a href="https://twitter.com/innernets" target="_blank">Twitter</a> or <a href="https://github.com/m10l" target="_blank">GitHub</a>.