{{!-- Global Footer --}}

<footer class="global-footer">
	<small>&copy; {{date format="YYYY"}} Mike Mitchell | Powered by <a href="https://ghost.org/" target="_blank">Ghost</a>. <a href="https://github.com/m10l/mikemitchell-ghost-theme" target="_blank">Have a nose around the theme if you like.</a></small>
</footer>